
.menu .menu-item .button-red{
  color: rgba(255, 255, 255, 0.801);
  padding: 6px 10px;
  font-size:16px;
  font-weight: 700;
  transition: color 0.3s;
}
.add-post{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    background-color: rgba(102, 102, 102, 0.671);
    z-index: 123;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-post-form{
    height: auto;
    width: 500px;
    background-color:rgb(230, 230, 230);
    border-radius: 10px;
    color:  #c72528;
    padding:20px;
}
.add-post-form form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.add-post-form form h1{
    text-align: center;
    padding-bottom: 20px;
}
.add-post-form form label{
    font-weight: 700;
    font-size: 16px;
    margin: 20px 0px;
}
.add-post-form form div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-post-form form input,select,textarea{
    margin: 20px 0px;
    padding:5px;
    width: 300px;
    border:1px solid #c72528;
    border-radius: 5px;
    margin-right: 0px;
    margin-left: auto;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}
.submit-post:hover{
    cursor: pointer;
}
.submit-post{
    align-self: center;
}
.disable{
    display:none;
}