*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: #000;
}
a:hover {
  color: #000;
}
ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0px;
}
p {
  margin-bottom: 0px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button:focus {
  outline: none;
}
.container-ratio {
  position: relative;
  width: 100%;
  padding-top:50%;
}
.ratio{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.button-red{
  background-color: #c72528;
  border:2px solid #c72528;
  color: white !important;
  transition: all 0.4s !important;
}
.button-red:hover{
  background-color: #8d1b1d;
  border:2px solid #8d1b1d;
  cursor: pointer;
  transition: all 0.4s !important;
}
.button-white{
  border: 2px solid #fff;
  color: white !important;
  background-color: transparent;
}
.button-white:hover{
  background-color: #c72528;
  border: 2px solid #c72528;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.4s !important;
}
.header{
  color: white;
}
.header.container-ratio {
  padding-top:35%;
}
.header .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:black;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0.5;
}
.header .header-box{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:transparent;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.nav-bar{
  height:90px;
  padding: 10px 120px;
}
.menu .menu-item{
  padding: 0px 5px;
}
.menu .menu-item a{
  color: rgba(255, 255, 255, 0.801);
  padding: 6px 10px;
  font-size:16px;
  font-weight: 700;
  transition: color 0.3s;
}

.menu .menu-item.active a{
  color: white;
}
.menu .menu-item a:hover{
  color: white;
  transition: color 0.3s;
}
.header .banner{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.search-title{
  font-size:26px;
  font-weight:bold;
  padding-bottom: 30px;
}
.search-input{
  padding: 30px 0px;
}
.search-input input{
  padding: 12px 10px;
  margin:0px;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  font-size:16px;
  color: rgb(61, 61, 61);
}
.search-input #search{
  width:40%;
  margin-right: -5px;
  border: 2px solid white;
}
section{
  padding:30px 0px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#eee;
}
.post-container .title{
  width:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center
}
.post-container .sub-title{
  line-height:25px;
  margin-bottom: 30px;
}
.post-title{
  width: 60%;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
  margin-bottom:30px;
}
.post-title::before{
  content: "";
  height:2px;
  width:90px;
  background-color:#c72528;
  position:absolute;
  bottom: 0px;
  left:50%;
  transform: translate(-50%,50%);
}
.post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post-item{
  height:auto;
  width:390px;
  margin: 0px 10px 20px 10px;
  border-radius: 5px;
  background-color:white;
  position: relative;
}
.post-item::after{
  position: absolute;
  content: "";
  width: 0px;
  height: 3px;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #c72528;
  transition: all 0.4s ease;
}
.post-item:hover:after{
  left: 0;
  width: 100%;
  transition: all 0.4s ease;
}
.post-item .container-ratio{
  padding-top: 55%;
  
}
.post-item-image{
  padding: 10px;
  position: relative;
  overflow:hidden;
}
.post-item-image:before{
  position: absolute;
  content: '';
  display: inline-block;
  height:200%;
  width: 120px;
  top: -120%;
  left: -90px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.164) , white);
  opacity: 0.3;
  transform:rotate(30deg);
  z-index: 5;
}
.post-item-image:hover:before{
  top: 0px;
  left: 100%;
  z-index: 5;
  opacity: 0.2;
  transition:all 0.3s linear;
}
.post-item .discount, .post-item .saling{
  position:absolute;
  background-color:#c72528;
  color: white;
  opacity: 0.8;
}
.post-item .discount{
  top: 15px;
  left: 95%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.13);
}
.post-item .saling{
  top: calc( 100% - 10px );
  left:50%;
  width: calc(100% - 20px);
  padding: 10px 0px;
  transform:translate(-50% ,-100%)
}
.post-infor{
  text-align: start;
  padding: 5px 20px 20px;
}
.post-infor .post-name{
  font-size:17px;
  
}
.post-location{
  padding: 15px 0px 10px;
  border-bottom: 1px solid #ddd
}
.post-price{
  padding-top: 10px;
}
.post-price>div{
  font-size:14px;
}
.post-price span{
  color:#c72528;
  font-weight: bold;
}
.footer{
  background-color:black;
  padding-bottom: 0px;
}
.footer-container{
  color:white;
  display:flex;
  justify-content: center;
  width: 100%;
  text-align: left;
}
.footer-container>div{
  height:auto;
  width:390px !important;
  margin: 0px 10px;
}
.footer-container .home-logo>div{
  height:80px;
  width:auto;
}
.footer-container .home-logo>div img{
  height:100%;
  width:100%;
  object-fit: contain;
}
.footer-container .home-logo .slogan{
  padding:20px 0px;
  line-height:28px;
}
.footer-container .help-center{
  padding-left: 80px;
}
.footer-container .help-center ul{
  padding: 30px 0px 0px 30px;
}
.footer-container .help-center li{
  padding: 10px 0px;
  border-bottom: 1px solid #333;
}
.footer-container .help-center li:last-child{
  border-bottom:none;
}
.footer .copyright{
  width: 100%;
  padding: 10px 0px ;
  background-color:#192642;
  color:rgba(255, 255, 255, 0.795);
  font-weight: 700;
  margin-top: 20px;
}
.to-top{
  position:fixed;
  height:50px;
  width:50px;
  background-color:#aaa;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight:700;
}
.to-top:before{
  position: absolute;
  content: "";
  height:70%;
  width:70%;
  border-radius: 50%;
  border: 4px solid #c72528;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.disable{
    display: none;
}